.box {
    height: 200px;
    width: 100%;
    padding: 10px;
    border: solid 1.5px rgb(54, 54, 56);
    border-radius: 20px;
    margin: 15px;
    background-image: linear-gradient(to top, rgb(23, 23, 23), rgb(104, 66, 66));
    color: rgb(199, 197, 197);
    display: flex;
    justify-content: center;
}

.box h2 {
    font-size: 50px;
    margin: 5px;
    margin-right: 70px;
}

.box p {
    margin: 10px;
    font-size: 20px;
}

.boxHdr {
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
    justify-content: center;
    width: 100%;
}